<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ "/" | relative_url }}">
        KSCOPE
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">Kaleidoscope is <a href="https://www.fit.edu/">Florida Tech's</a> very own literary magazine</p>
  </header>

  <a href="https://floridatech.campuslabs.com/engage/organization/kaleidoscope" target="_blank">Our Engage Page</a>
  {% include sidebar-nav-links.html %}

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>